*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Sansita Swashed", sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
:root{
	--bg-color: #fff;
	--text-color: #221314;
	--second-color: #5a7184;
	--main-color: #933C24;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
}
header{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	background-attachment: transparent;
	padding: 10px 18%;
	transition: ease .40s;
}
.logo{
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--bg-color);
}
.navbar{
	display: flex;
	padding-left: 140px;
}
.navbar a{
	color: var(--bg-color);
	font-size: var(--p-font);
	font-weight: 500;
	padding: 10px 22px;
}
.navbar li a{
	font-family: 'Poppins', sans-serif;
}
.navbar a:hover{
	color: var(--main-color);
	border-radius: 4px;
}
#menu-icon{
	color: var(--bg-color);
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}
section{
	padding: 80px 18%;
}
.home{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../img/main_image.png);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}
.about{
	position: relative;
	width: 100%;
	height: 70vh;
	background: url(../img/about.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}
.home-text h1{
	font-size: var(--big-font);
	line-height: 1.2;
	color: var(--bg-color);
	font-family: "Sansita Swashed", sans-serif;
	letter-spacing: 4px;
	margin-bottom: 20px;
}
.about-text h1{
	font-size: var(--big-font);
	line-height: 1.2;
	color: #fff;
	font-family: "Sansita Swashed", sans-serif;
	letter-spacing: 4px;
	margin-bottom: 20px;
}
.about-text{
	padding-left: 200px; 
}
.home-text p{
	color: #ffffffbf;
	font-size: 20px;
	font-weight: 400;
	line-height: 38px;
	margin-bottom: 50px;
}
.about-text p{
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	line-height: 38px;
	margin-bottom: 50px;
}
.home-btn, .add-btn{
	display: inline-block;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	padding: 10px 20px;
	background: #933C24;
	color: #FFFFFF;
	border-radius: 4px;
	transition: ease .40s;
}
.home-btn:hover{
	background: #906d27bf;
	transform: scale(1.1);
}
header.sticky{
	background: var(--bg-color);
	padding: 10px 18%;
	box-shadow: rgba(33,35,38, 0.1) 0px 10px 10px -10px;
}
.sticky .logo{
	color: var(--text-color);
}
.sticky .navbar a{
	color: var(--text-color);
} 
#contact{
	background-image: url(../img/footer.png);
	background-size: cover;
	background-repeat:no-repeat; 
}
.main{
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px; 
}
.footer{
	display:flex;
	width:100%;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px 0;
	font-family: 'Poppins', sans-serif; 
}
.list{
	font-family: 'Poppins', sans-serif; 
	width: 30%;
}
.list h4, .list-news h4{
	font-family: 'Poppins', sans-serif; 
	font-size: 21px;
	color: #E9BD8D;
	margin-bottom: 30px;
	position: relative;
}
.list-social h4{
	font-family: 'Poppins', sans-serif; 
	font-size: 21px;
	color: #E9BD8D;
	position: relative;
}
.list ul li:not(last-child) {
	margin-bottom: 16px;
}
.list ul li a{
	font-family: 'Poppins', sans-serif; 
	color: #ffffffbf;
	font-size: var(--p-font);
	display: block;
	transition: .3s;
}
.list ul li a:hover{
	color: var(--bg-color);
	transform: translateX(14px);
}
.list-social ul li:not(last-child) {
	margin-bottom: 16px;
}
.list-social ul li a{
	color: #ffffffbf;
	font-size: var(--p-font);
	display: block;
	transition: .3s;
}
.list-social ul li a:hover{
	color: var(--bg-color);
	transform: translateX(14px);
}
.list-social a{
	height: 40px;
	width: 40px;
	background: #E9BD8C;
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
	border-radius: 15px;
	transition: .3s;
	margin-right: 10px;
}
.list-social a:hover{
	transform: scale(1.1);
}
.end-text{
	text-align: center;
	padding-top: 90px;
}
.end-text p{
	color: var(--bg-color);
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	letter-spacing: 2px;
}
.contact form, .contact1 form{
    max-width: 100%;
    width: 450px;
    position: relative;
}
.contact form input, .contact1 form input{
    display: inline-block;
	font-family: 'Poppins', sans-serif; 
    width: 100%;
    padding: 20px 150px 20px 30px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    outline: none;
    border: none;
    border-radius: 15px;
}
.contact form textarea, .contact1 form textarea{
    display: inline-block;
	font-family: 'Poppins', sans-serif; 
    width: 100%;
	font-size: 20px;
    padding: 20px 150px 20px 30px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    outline: none;
    border: none;
    border-radius: 15px;
}
.contact form input:last-child, .contact1 form input:last-child{
    outline: none;
    border: none;
    padding: 14px 30px;
    border-radius: 15px;
    background: var(--main-color);
    color: var(--bg-color);
    top: 6px;
    right: 6px;
    cursor: pointer;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .contact div{
	display: flex; 
	justify-content: center; 
	align-items: center;
	flex-direction: column;
  }
  .contact h1{
	justify-content: center;
	margin : 20px;
  }
  .contact1 .div{
	display: flex; 
	justify-content: center; 
	align-items: center;
	flex-direction: column;
  }
.contact1 form input.radio1{
	width:auto;
}
.div2{
	display: flex; justify-content: center;width: 100%;
}
.div2 div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}
.Top-products {
	 text-align: center;
}.Top-products h1{
	font-size: 60px;
}
.products{
	margin-top: 70px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 10px;
}
.product{
	width: calc(95/3);
	min-height: 400px;
	background-image: url(../img/productback.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius:10px;
}
.product img{
	height: 70%;
	width : 90%;
}
.product p{
	color: #FFF;
	}
.offer img{
	width: 100% ;
}
.explore{
	display: flex;
	flex-wrap: wrap; 
    align-content: center;
    align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 50px;
	
}
.explore label{
	font-family: 'Poppins', sans-serif;
}
.exploresection{
	margin: 0 auto; 
}
.tab_label{
	padding: 10px 15px; 
	cursor : pointer; 
}
.tab_radio{
	display: none; 
}
.tab_radio:checked+.tab_label{
	font-weight:bold;
	border-bottom: 4px solid #933C24;  
}
.tab_radio:checked+.tab_label+.exploregrid{
	margin-top: 70px;
	display: grid;
	grid-template-columns: repeat(3,1fr); 
	gap: 10px;
}
.explore h1{
	font-size: 60px;
	margin-bottom: 30px;
	text-align:center;
}
.explore ul li{
	display: inline ; 
	margin : 10px; 
	font-family: 'Poppins', sans-serif;
}
.explore ul li a{
	font-family: 'Poppins', sans-serif;
}
.exploregrid{
	margin-top: 70px;
	display: grid;
	grid-template-columns: repeat(3,1fr); 
	gap: 10px;
	justify-content: center;
	order: 1; 
	width : 100%;
	display: none ; 
}
.treatsgrid{
	display: grid;
	grid-template-columns: repeat(3,1fr); 
	gap: 10px;
	margin: 70px 30px 0; 
}
.treatsgrid div h2{
	text-align: center;
	font-family: 'Poppins', sans-serif;
	margin-top: 20px; 
}
.treatsgrid div{
	display: flex; 
	justify-content: space-around;
	align-items: center;
}
.exitem{
	width: calc(95/3);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius:10px;
}
.exitem img{
	width:360px;
	height: 350px; 
	border-radius: 10px; 
}
.exploresection{
	text-align:center;
}
.exploresection h1{
	font-size: 60px;
}
.explore ul{
	text-align:center;
	font-family: 'Poppins', sans-serif;
}
.explore hr{
	color:#E9BD8C;
}
.product-content{
	display: flex; 
	justify-content: center;
	flex-direction: column; 
}
.product-row{
	display:flex;
	justify-content : space-between;
	align-items:center; 
	margin: 5px 30px; 
}
.product-row img{
	background:#FFF;
    border-radius: 50%;
	width: 40px;
/*	margin: 5px; */
}
.product-row p{
	text-align: start;
}
.offer{
	background-image: url(../img/Offer.png); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 50px 0; 
}
.home-text h3{
	color:#DFC57B; 
	font-size : 40px;
	font-family: 'Poppins', sans-serif; 
}
.offre{
	display: flex ; 
	flex-direction : column; 
	justify-content: center; 
	align-items: center;
}
.offre p{
	margin: 20px;
	text-align: center;
}

.list-social{
	display:flex; 
	justify-content: space-around;
	align-content: center;
	align-items:center;
	width: 50%;
}
.footer-head{
	display:flex;
	justify-content: space-between;
}
.social{
	display : flex ; 
}

.list-row{
	margin: 20px;
	display: flex; 
	align-items: center;
}
.list-row-text{
	margin: 10px; 
}
.list-row-text span{
	color:#E9BD8C;
	font-family:'Poppins', sans-serif; 
	font-size: 15px;
}
.list-row-text p{
	color:#fff;
	font-family:'Poppins', sans-serif; 
	font-size: 20px;

}
.list-row img{
	width:70px; 
	height: 50px;
}
.footer hr{
	color: #E9BD8C;
}

.about-details{
	font-size: 30px;
	margin: 50px 200px; 
}
.contactform input {
	font-size:20px;
}